<div class="order-list-container">
  <h2>Your Order List</h2>

  <div *ngIf="cart && cart.items && cart.items.length > 0">
    <h3>Your Orders</h3>
    <table mat-table [dataSource]="cart.items" class="mat-elevation-z8">
      <!-- Define the table columns -->
      <ng-container matColumnDef="bookId">
        <th mat-header-cell *matHeaderCellDef> Book ID </th>
        <td mat-cell *matCellDef="let item"> {{item.bookId}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let item"> {{item.price | currency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['bookId', 'quantity', 'price']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['bookId', 'quantity', 'price'];"></tr>
    </table>
  </div>

  <div *ngIf="cart && (!cart.items || cart.items.length === 0)">
    <p>You have no orders.</p>
  </div>
</div>
