.mat-icon-button {
  min-width: 24px; /* Установите минимальную ширину кнопки */
  min-height: 24px; /* Установите минимальную высоту кнопки */
  padding: 0; /* Уберите внутренние отступы */
}

.mat-icon-button mat-icon {
  font-size: 20px; /* Измените размер иконки */
}
