<div class="mat-elevation-z2">
    <table mat-table [dataSource]="authors">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let author">{{ author.name }}</td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let author">{{ author.gender }}</td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
            <td mat-cell *matCellDef="let author">{{ author.birthDate | date }}</td>
        </ng-container>

      <ng-container matColumnDef="deathDate">
        <th mat-header-cell *matHeaderCellDef>Date of Death</th>
        <td mat-cell *matCellDef="let author">{{ author.deathDate | date }}</td>
      </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let author">{{ author.country }}</td>
        </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let author">{{ author.age }}</td>
      </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let author">
                <button mat-button color="primary" routerLink="/author-details/{{ author.id }}">Details</button>
                <button mat-button color="primary" routerLink="/author-form/{{ author.id }}">Edit</button>
                <button mat-button color="primary" routerLink="/author-list/{{ author.id }}">Delete</button>
            </td>
        </ng-container>

        <!-- Define more columns as needed -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
